<!--
    Dados da pagina
   * Nome : Navita
   * Objetivo: Buscar modelos de veiculos da marca escolhida
   * Desenvolvedor: Hernani Almeida
   * data criacao: 29/11/2020
-->


<!--
    container que sera visualizado na pagina se a constante viewModelos for igual a false
-->
<div class="cardcontainermodelo" *ngIf="viewmodelos === true">
    <div class="headcard">
        <span >Modelos</span>
    </div>
    <div class="card">
        <table>
            <thead>
                <tr>
                    <p>Modelo</p>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let modelo of _modelos">

                    <td>
                        <p>{{ modelo.nome }}</p>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
       
</div>
    